# Título

## Subtítulo

### SubSubtítulo

*italicas*  **negritas**

$ y_i = a x_i + b $

En python se crea un objeto y luego a través de código se manipula el objeto

In [1]:
variable1 = 6

In [2]:
#Como ver el contenido de una variable en pthyon. Se pone el nombre del objeto
variable1

6

In [3]:
#Ver el contenido con print()
print(variable1)

6

In [4]:
#corroborar que variable1 es entero o tipo int
type(variable1)

int

In [5]:
#para crear una variable flotante o (float)
variable2 = 7.89

In [6]:
#verificar que variable2 es decimal o variable de tipo float o flotante
type(variable2)

float

In [7]:
#Variables de texto, o bien, variables tipo string
mi_inicial = 'D'

In [8]:
#Verificar que mi_inicial en efecto sea un tipo de variable string
type(mi_inicial)

str

In [9]:
print(mi_inicial)

D

In [10]:
print(variable1, variable2, mi_inicial)

6 7.89 D

In [13]:
print('La letra inicial de mi nombre es: ', mi_inicial)

La letra inicial de mi nombre es:  D

In [14]:
print(f'la letra inicial de mi nombre es: {mi_inicial}')

la letra inicial de mi nombre es: D

In [16]:
print(f'este es un numero seis entero: {variable1}')

este es un numero seis entero: 6

In [17]:
#Crear una variable tipo boleano
boleano1 = False

In [18]:
type(boleano1)

bool

In [19]:
print(f'Mi inicial es: {mi_inicial}, ya que me llamo {mi_inicial}avid')

Mi inicial es: D, ya que me llamo David

In [20]:
5>1

True

In [21]:
9<3

False

In [22]:
7>5 & 7<2

False

In [23]:
variable1_decimal = float(variable1)
#Así se convierte una variable entera, en este caso, variable 1, en variable tipo flotante

In [25]:
#Verificar que variable1 en efecto se convirtió en float
type(variable1_decimal)

float

In [26]:
print(variable1_decimal)

6.0

In [27]:
print(variable1)

6

In [28]:
#como sumar
variable1 + variable2

13.89

In [29]:
#Restar
10-5

5

In [30]:
#multiplicar
4*4

16

In [31]:
#dividir
20/5

4.0

$ 3^2  $

In [32]:
3**2

9

In [33]:
pow(3,2)

9