# Estadpistica Aplicada

Sesión 14 - 6 de octubre
David Eduardo Gómez Marín, Matrícula: 1914352

Grupo: infiltrado soviético al grupo 43

In [1]:
from datetime import datetime

In [2]:
my_year = 2023
mi_mes = 10
mi_dia = 6
mi_hora = 15
mi_minuto = 40
mi_segundo = 23

In [3]:
mi_fecha = datetime(my_year, mi_mes, mi_dia)

In [4]:
mi_fecha

datetime.datetime(2023, 10, 6, 0, 0)

In [5]:
mi_fecha_hora = datetime(my_year, mi_mes, mi_dia, mi_hora, mi_minuto, mi_segundo)

In [6]:
mi_fecha_hora

datetime.datetime(2023, 10, 6, 15, 40, 23)

In [7]:
## Acceder a los componentes de la fecha
mi_fecha.year #Aquí se accedió al componente 'year' de la variable 'mi_fecha' de tipo datetime

2023

In [8]:
mi_fecha.month

10

In [9]:
mi_fecha.day

6

In [10]:
##acceder al minuto
mi_fecha_hora.minute

40

Este fue el tiempo con la librería datetime

# Ahora veremos fechas con numpy

In [11]:
import numpy as np

In [12]:
np.array(['2020-12-12', '1992-06-10', '1994-04-29'], dtype='datetime64')

array(['2020-12-12', '1992-06-10', '1994-04-29'], dtype='datetime64[D]')

In [14]:
np.array(['2020-12-12', '1992-06-10', '1994-04-29'], dtype='datetime64[h]') #Con [h] incluye horas

array(['2020-12-12T00', '1992-06-10T00', '1994-04-29T00'],
      dtype='datetime64[h]')

In [16]:
np.array(['2020-12-12', '1992-06-10', '1994-04-29'], dtype='datetime64[Y]') #con [Y] nos da el año

array(['2020', '1992', '1994'], dtype='datetime64[Y]')

# Tiempo en pandas

In [17]:
import pandas as pd

In [19]:
semana8 = pd.date_range('7/8/2023', periods=7, freq='D')

In [20]:
semana8

DatetimeIndex(['2023-07-08', '2023-07-09', '2023-07-10', '2023-07-11',
               '2023-07-12', '2023-07-13', '2023-07-14'],
              dtype='datetime64[ns]', freq='D')

In [21]:
pd.to_datetime('Jan 08, 2020')

Timestamp('2020-01-08 00:00:00')

In [22]:
pd.to_datetime('23/07/2010')

C:\Users\Gamer User\AppData\Local\Temp\ipykernel_20220\2380180480.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime('23/07/2010')

Timestamp('2010-07-23 00:00:00')

In [23]:
pd.to_datetime('3-jan-2008')

Timestamp('2008-01-03 00:00:00')

In [27]:
##Formato utilizado en México dia/mes/año
pd.to_datetime('04/04/2020', format='%d/%m/%Y')

Timestamp('2020-04-04 00:00:00')

In [29]:
## dia/mes/año
pd.to_datetime('04/12/23')
#Marca el mes como diciembre cuando en realidad es abril, vamos a corregirlo con format

Timestamp('2023-04-12 00:00:00')

In [33]:
## dia/mes/año
pd.to_datetime('04/12/23', format='%d/%m/%y')

Timestamp('2023-12-04 00:00:00')